<div>
  <app-goslink-button variant="primary">Primary Button</app-goslink-button>
  <app-goslink-button variant="primary" [disabled]="true">Primary Button</app-goslink-button>
</div>
<div>
  <app-goslink-button variant="secondary">Secondary Button</app-goslink-button>
  <app-goslink-button variant="secondary" [disabled]="true">Secondary Button</app-goslink-button>
</div>
<div>
  <app-goslink-button variant="outline">Outline Button</app-goslink-button>
  <app-goslink-button variant="outline" [disabled]="true">Outline Button</app-goslink-button>
</div>
<div>
  <app-goslink-button variant="transparent">Transparent Button</app-goslink-button>
  <app-goslink-button variant="transparent" [disabled]="true">Transparent Button</app-goslink-button>
</div>
